table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-header-cell{
  text-align-last: center;
}
.mat-column-Id {
  flex: 0 0 25% !important;
  min-width: 50px !important;
}

.mat-column-postId{
  flex: 0 0 25% !important;
  min-width: 50px !important;
}

